<select name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>{% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
  <optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
  {% include option.template_name with widget=option %}{% endfor %}{% if group_name %}
  </optgroup>{% endif %}{% endfor %}
</select>
<script>
    var existingTags = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      prefetch: {
                  url: '/json/tags.json',
                  transform: function(response){
                               return response.tags;
                              },
                  ttl: 60*1000 /* 1 minute */
      }
    });

    existingTags.initialize();

    $('#id_{{ widget.name }}').tagsinput({
      maxTags: 12,
      maxChars: 16,
      trimValue: true,
      typeaheadjs: {
        name: 'existingTags',
        display: 'name',
        source: existingTags.ttAdapter()
      }
    });
</script>
