<!DOCTYPE html>
{% load i18n static inkscape extras %}
<html>
  <head>
    <title>{% block title %}{{ title|default:"Talk Freely" }}{% endblock %} - {% trans "Inkscape Forum" %}</title>
    <meta charset="utf-8"/>

    <link rel="shortcut icon" href="{% static "forums/images/logo.svg" %}"/>

    {% block "css" %}
    <link href="{% static "forums/css/bootstrap.min.css" %}" rel="stylesheet" id="bootstrap-css">
    <link href="{% static "forums/css/forum.css" %}" rel="stylesheet" id="forum-css">
    {% endblock %}

    {% block "js" %}
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "forums/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/js.cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "js/inkscape.js" %}"></script>
    <script type="text/javascript" src="{% static "forums/js/forums.js" %}"></script>
    {% endblock %}

    {{ form.media }}
  </head>
  <body data-static="{% static '' %}">
    {% block "container" %}
    <div class="container">
      <div class="forum-box">
        {% block "side" %}
        <aside class="sm-side">
          <div class="forum-head">
            <a class="forums-logo"><img src="{% static "forums/images/logo.svg" %}"></a>
            <div class="forums-name">
              <span>Talk Freely</span>
              <h5>Inkscape Forum</h5>
            </div>
          </div>

          {% for group, items in forums.groups.items %}
          <ul class="nav nav-pills nav-stacked labels-info" id="forum-list">
            <li>
              <h4>{{ group }}</h4>
            </li>
            {% for item in items %}
            <li class="forum-item new{% if item == forum %} active{% endif %}" data-changed="{{ item.last_posted.isoformat }}" data-count="{{ item.post_count }}" data-pk="forum-{{ item.pk }}">
              <a href="{{ item.get_absolute_url }}"><img src="{% if item.icon %}{{ item.icon.url }}{% endif %}"> {{ item }} <span class="label label-default pull-right counter">{{ item.post_count }}</span></a>
            </li>
            {% endfor %}
          </ul>
          {% endfor %}

          {% if visitors %}
          <ul class="nav nav-pills nav-stacked labels-info" id="users-online">
            <li>
              <h4>Online</h4>
            </li>
            {% static "forums/images/user.svg" as default_photo %}
            <li>
            {% for pk, visitor in visitors.items reversed %}
              {% if pk == request.user.pk %}
              <a  class="me" href="{% url 'view_profile' visitor.username %}">
                <img src="{{ visitor.photo_url|default:default_photo }}"/>
                <span>{{ visitor.first_name|default:visitor.username }} {{ visitor.last_name }}</span>
              </a>
              <li>
              {% else %}
              <a href="{% url 'view_profile' visitor.username %}" title="{{ visitor.first_name|default:visitor.username }} {{ visitor.last_name }} - {{ visitor.last_seen|ago }}" data-user="{{ visitor.username }}">
                <img src="{{ visitor.photo_url|default:default_photo }}"/>
              </a>
              {% endif %}
            {% endfor %}
            </li>
          </ul>
          {% endif %}
          <ul class="nav nav-pills nav-stacked labels-info">
            <li><a href="{% url "forums:log" %}"><span class="glyphicon glyphicon-briefcase"></span> {% trans "Moderation Log" %}</a></li>
            {% if request.user.is_moderator %}
            <li><a href="{% url "forums:check" %}"><span class="glyphicon glyphicon-ok"></span> {% trans "Comment Purgitory" %} <span class="label label-danger pull-right">{{ purgitory.count }}</span></a></li>
            {% endif %}
          </ul>
        </aside>
        {% endblock %}
        <aside class="lg-side">
          <div class="forum-head">
            {% block "header" %}
            <form action="{% url "forums:search" %}" class="pull-right position">
              <div class="input-append">
                {% block "search" %}{% endblock %}
                <input type="text" class="sr-input" name="q" value="{{ request.GET.q }}" placeholder="{% trans "Search" %}"> <button class="btn sr-btn" type="button"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </form>
            {% endblock %}
          </div>
          <div class="forum-body">
            <div class="forum-option">
              {% block "tools" %}
                {% if is_paginated %}
                  {% with request.GET|querydict_pop:"page" as get %}
                  <ul class="unstyled forum-pagination">
                    <li><span class="count">{{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }}</span></li>
                    <li>
                      {% if page_obj.has_previous %}
                        <a class="np-btn" href="?page={{ page_obj.previous_page_number }}&{{ getvars }}{{ hashtag }}"><span class="glyphicon glyphicon-chevron-left pagination-left"></span></a>
                      {% else %}
                        <a class="np-btn disabled"><span class="glyphicon glyphicon-chevron-left pagination-left"></span></a>
                      {% endif %}
                    </li>
                    <li>
                      {% if page_obj.has_next %}
                        <a class="np-btn" href="?page={{ page_obj.next_page_number }}&{{ getvars }}{{ hashtag }}"><span class="glyphicon glyphicon-chevron-right pagination-right"></span></a>
                      {% else %}
                        <a class="np-btn disabled" href="#"><span class="glyphicon glyphicon-chevron-right pagination-right"></span></a>
                      {% endif %}
                    </li>
                  </ul>
                  {% endwith %}
                {% endif %}
              {% endblock %}
            </div>
            {% block "content" %}
            {% endblock %}
          </div>
        </aside>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
