{% load i18n comments static inkscape moderator %}

<div>   
  {% for comment in comment_list %}
    {% if not comment.moderation.is_deleted %}
      {% with forloop.counter0|add:1 as comment_counter %}
      {% url 'view_profile' comment.user.username as profile_url %}

  <div class="panel-body">
    <a name="c{{ comment.id }}"></a>
    <ul class="comment">
      <li class="left clearfix">
        <small class="pull-left text-muted">#{{ comment_counter }}</small>
        <span class="comment-img pull-left">
          <img src="{% if comment.user.photo %}{{ comment.user.photo.url }}{% else %}{% static "forums/images/user.svg" %}{% endif %}" alt="{{ comment.user }}" class="img-circle" />
        </span>
        <div class="comment-body clearfix">
          <div class="header">
            <strong class="primary-font"><a href="{{ profile_url }}">{{ comment.user }}</a></strong>

            <small class="pull-right text-muted"><a title="{% trans "Link" %}" href="{% get_comment_permalink comment %}"><span class="glyphicon glyphicon-link"></span></a></small>
            <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span> {{ comment.submit_date|timetag }}</small>
          </div>
          <p>
            {{ comment.comment|urlize|linebreaks }}
          </p>
        </div>
        <div class="footer">
          <small class="btn-group emoji-bar" id="bar-emote-{{ comment.pk }}">
            {% for flag in comment.flags.all %}{% if flag.flag|length == 1 %}<span class="emoji">{{ flag.flag }}</span>{% endif %}{% endfor %}
          </small>
          <small class="btn-group pull-right">
            <a class="btn btn-sm"><span class="glyphicon glyphicon-edit"></span></a>
          </small>
          <small class="btn-group pull-right" style="padding-right: 5px;">
            {% if request.user.is_authenticated %}
              {% if comment|is_flagged:request.user %}
                <a class="btn btn-sm disabled" title="{% trans "You have reported this comment" %}"><span class="glyphicon glyphicon-flag"></span></a>
              {% else %}
                <a class="btn btn-sm" title="{% trans "Report Comment" %}" href="{% flag_url comment %}"><span class="glyphicon glyphicon-flag"></span></a>
              {% endif %}
            {% endif %}
          </small>
          <div class="dropdown emoji-selector pull-right">
            <a class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{% url 'forums:emote' comment.id %}" title="{% trans "Emote" %}" id="emote-{{ comment.pk }}">
              <img class="emoji" src="{% static "emoji/48/1f600.png" %}"/>
            </a>
            <div class="dropdown-menu" aria-labelledby="emote-{{ comment.pk }}"></div>
          </div>
        </div>
      </li>
    </ul>
  </div>

      {% endwith %}
    {% endif %}
  {% endfor %}
</div>
