{% load i18n comments static inkscape moderator %}

<div>
  
  <ol class="panel-body">
    <!-- Start forum thread comment loop -->
    {% for comment in comment_list %}
    {% if not comment.moderation.is_deleted %}
      {% with forloop.counter0|add:1 as comment_counter %}
      {% url 'view_profile' comment.user.username as profile_url %}
    <li class="comment left clearfix">
    
      <!-- Start comment header -->
      <header class="comment-header">
        <a name="c{{ comment.id }}" id="c{{ comment.id }}"></a>
        <a class="pull-left comment-count" title="{% trans "Link" %}" href="{% get_comment_permalink comment %}">#{{ comment_counter }}</a>
        <img src="{% if comment.user.photo %}{{ comment.user.photo.url }}{% else %}{% static "forums/images/user.svg" %}{% endif %}" alt="{{ comment.user }}" class="img-circle" />
        <address><a class="comment-author" href="{{ profile_url }}">{{ comment.user }}</a></address> 
        {% for flag in comment.user.forum_flags.all %}{% if flag.flag|length == 1 %}<span class="emoji" title="{{ flag.title }}">{{ flag.flag }}</span>{% endif %}{% endfor %}
        {% if comment.user_id == request.user.pk or request.user.is_moderator %}
            <small class="pull-right text-muted"><a href="{% url "forums:comment_edit" comment.pk %}" title="Edit"><span class="glyphicon glyphicon-{% if comment.user_id == request.user.pk %}edit{% else %}flash{% endif %}"></span></a></small>
        {% endif %}
        {% if request.user.is_moderator %}
        <small class="pull-right text-muted"><a href="{% url "forums:comment_delete" comment.pk %}" title="Delete"><span class="glyphicon glyphicon-remove"></span></a></small>
        {% endif %}
        <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span> {{ comment.submit_date|timetag }}</small>
      </header>
      <!-- End comment header -->
      
      <!-- Start comment text -->
      <section class="comment-text">
        {{ comment.comment|safe|urlize }}
      </section>
      <!-- End comment text -->
      
      <!-- Start comment attachments -->
      <section class="comment-attachments inline-attachments">
      {% for attachment in comment.attachments.all %}
        {% if attachment.inline %}
          {% with attachment.resource as object %}
            {% include "forums/resource_inline.html" %}
          {% endwith %}
        {% endif %}
      {% endfor %}
      </section>
      <!-- End comment attachments -->
      
      <!-- Start comment footer -->
      <footer class="comment-footer">
        <small class="btn-group emoji-bar" id="bar-emote-{{ comment.pk }}">
            {% for flag in comment.flags.all %}{% if flag.flag|length == 1 %}<span class="emoji">{{ flag.flag }}</span>{% endif %}{% endfor %}
        </small>
        
        {% if comment.attachments.count %}
          <div class="dropdown pull-right check-dropdown">
              <a href="#" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{% trans "Attachments" %}" id="attachments-{{ comment.pk }}"><span class="glyphicon glyphicon-paperclip"></span> {% trans "Attachments" %}</a>
            <ul class="dropdown-menu" aria-labelledby="attachments-{{ comment.pk }}">
              {% for attachment in comment.attachments.all %}
                {% if not attachment.inline %}
                  {% if attachment.resource.is_removed %}
                    <li class="dropdown-item disabled">
                      <a href="#"><span class="glyphicon glyphicon-ban-circle"></span> {{ attachment.resource.filename }}</a>
                    </li>
                  {% else %}
                    <li class="dropdown-item">
                      {% if attachment.resource.is_video %}
                        <a href="{{ attachment.resource.link }}">
                      {% elif attachment.resource.published %}
                        <a href="{{ attachment.resource.get_pk_url }}">
                      {% else %}
                        <a href="{{ attachment.resource.download.url }}">
                      {% endif %}
                      {% if attachment.resource.mime.is_image %}
                        <span class="glyphicon glyphicon-picture text-muted"></span>
                      {% elif attachment.resource.is_video %}
                        <span class="glyphicon glyphicon-facetime-video text-muted"></span>
                      {% else %}
                        <span class="glyphicon glyphicon-file text-muted"></span>
                      {% endif %}
                      {{ attachment.resource.filename|default:attachment.resource.name }}
                      </a>
                    {% endif %}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        
        <small class="btn-group pull-right">
          {% if request.user.is_authenticated %}
            <a class="btn btn-sm" title="{% trans "Report Comment" %}" href="{% flag_url comment %}"><span class="glyphicon glyphicon-flag"></span></a>
          {% endif %}
        </small>
        
        <div class="dropdown emoji-selector pull-right">
          <a class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{% url 'forums:emote' comment.id %}" title="{% trans "Emote" %}" id="emote-{{ comment.pk }}">
            <img class="emoji" src="{% static "emoji/48/1f600.png" %}"/>
          </a>
          <div class="dropdown-menu" aria-labelledby="emote-{{ comment.pk }}"></div>
        </div>
        
      </footer>
      <!-- End comment footer -->
    </li>
      {% endwith %}
    {% endif %}
  {% endfor %}
  <!-- End forum thread comment loop -->
  </ol>

</div>