{% extends "forums/base_search.html" %}
{% load i18n static inkscape highlight %}

{% block "searchtitle" %}{% blocktrans %}Search all Comment Texts for ‘{{ query }}’{% endblocktrans %}{% endblock %}

{% block "content" %}
  <table class="table table-forum">
    <tbody>
    {% for comment in page.object_list %}
      {% with comment.object.get_topic as topic %}
      <tr class="{% cycle 'odd' 'even' %}" data-changed="{{ topic.last_posted.isoformat }}" data-pk="topic-{{ topic.pk }}">
        {% if topic %}
          <td class="forum-small-cells avatar"><img src="{% if topic.forum.icon %}{{ topic.forum.icon.url }}{% endif %}"/></td>
          <th colspan="2">{{ topic }}</th>
        {% else %}
          <td><span class="glyphicon glyphicon-comment"></span></td>
          <td colspan="2">{% trans "Not a forum post" %}</td>
        {% endif %}
      </tr>
      <tr class="{% cycle 'odd' 'even' %}" data-changed="{{ comment.submit_date.isoformat }}" data-pk="comment-{{ topic.pk }}">
        <td class="forum-small-cells avatar"><img src="{% if comment.object.user.photo %}{{ comment.object.user.photo.url }}{% else %}{% static "forums/images/user.svg" %}{% endif %}"/></td>
        <td class="view-message">
          {% if topic %}
          <a href="{{ topic.get_absolute_url }}#c{{ comment.object.pk }}">{% highlight comment.text with query max_length 200 %}</a>
          {% else %}
          <a href="{{ comment.object.get_absolute_url }}">{% highlight comment.text with query max_length 200 %}</a>
          {% endif %}
        </td>
        <td class="view-message text-right">{{ comment.submit_date|timetag }}</td>
      </tr>
      <tr class="sep"><td colspan="3"></td></tr>
      {% endwith %}
    {% empty %}
      <tr>
          <td style="text-align: center;"><h1>{% trans "No topics yet" %}</h1></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
