{% extends "forums/base.html" %}
{% load i18n static %}

{% block "css" %}
<link href="{% static "slick/slick.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "slick/slick-theme.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "slick/lightbox.css" %}" rel="stylesheet" type="text/css"/>
{{ block.super }}
{% endblock %}

{% block "jsvendors" %}
{{ block.super }}
<script type="text/javascript" src="{% static "slick/slick.min.js" %}"></script>
<script type="text/javascript" src="{% static "slick/lightbox.min.js" %}"></script>
{% endblock %}

{% block "js" %}
{{ block.super }}
{% endblock %}

{% block "wrapper" %}
<div class="container-flex forums-app forums-list">
{% endblock "wrapper" %}

{% block "slickslider" %}
<!--<div class="multiple-items">
  <div style="width:10em;"><h1>Slide 1</h1></div>
  <div style="width:10em;"><h1>Slide 2</h1></div>
  <div style="width:10em;"><h1>Slide 3</h1></div>
  <div style="width:10em;"><h1>Slide 4</h1></div>
  <div style="width:10em;"><h1>Slide 5</h1></div>
  <div style="width:10em;"><h1>Slide 6</h1></div>
  <div style="width:10em;"><h1>Slide 7</h1></div>
  <div style="width:10em;"><h1>Slide 8</h1></div>
  <div style="width:10em;"><h1>Slide 9</h1></div>
  <div style="width:10em;"><h1>Slide 10</h1></div>
</div>-->
{% endblock "slickslider" %}


{% block "supercontent" %}
  {% if request.user.is_authenticated %}
  <h2>{% trans "Recent Topics" %}</h2>

    {% include "forums/topic_table.html" with topic_list=recent_topics show_forum=1 %}

  {% else %}
    <div class="jumbotron">
      <img src="{% static "forums/images/welcome.svg" %}" class="pull-left" style="padding: 0 30px 30px 0; margin-left: -10px;"/>
      <h1 class="changes" data-pk="forums">{% trans "Welcome" %}</h1>

      <p>{% trans "Welcome to the Inkscape Forum." %}</p>

      <p>{% trans "You may post questions and comments here, but you will need an inkscape.org user account and you will also need to abide by the community" %} <a href="/community/coc/">{% trans "Code of Conduct" %}</a>.</p>

      <p>
        <a class="btn btn-primary btn-lg" target="_blank" href="/user/register/?next=/forums/" role="button" title="{% trans "It's the same account as on the main inkscape.org website" %}">{% trans "Register" %}</a> or 
        <a class="btn btn-success btn-lg" href="{% url 'auth_login' %}?next={{ request.path }}" role="button">{% trans "Login Now" %}</a>
      </p>
    </div>
  {% endif %}
{% endblock %}
