{% extends "forums/base.html" %}
{% load i18n static inkscape %}

{% block "header" %}
  <img id="forum-logo" src="{{ forum.icon.url }}">
  <h3>{{ forum }}</h3>
  {{ block.super }}
{% endblock %}

{% block "tools" %}
  <div class="btn-group">
    <a data-original-title="Refresh" data-placement="top" href="" class="btn btn-sm"><span class="glyphicon glyphicon-refresh"><span></a>
  </div>
  <div class="btn-group">
    {% if not request.user.is_authenticated %}
    <a class="btn btn-sm btn-danger" href="{% url 'auth_login' %}?next={{ request.path }}"><span class="glyphicon glyphicon-lock"></span> Login to Post</a>
    {% elif forum.content_type_id %}
    <a class="btn btn-sm btn-default disabled"><span class="glyphicon glyphicon-lock"></span> Content Forum</a>
    {% else %}
    <a href="{% url "forums:create" forum.slug %}" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span> New Topic</a>
    {% endif %}
    <a href="#" id="seenall" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-eye-open"></span> {% trans "Mark all as Read" %}</a>
  </div>

  {{ block.super }}
{% endblock %}

{% block "content" %}
  <table class="table table-forum table-hover haveseen" data-changed="{{ forum.last_posted.isoformat }}" data-count="{{ forum.post_count }}" data-pk="forum-{{ forum.pk }}">
    <tbody>
    {% for topic in page_obj %}
      <tr class="{% cycle 'odd' 'even' %} new" data-changed="{{ topic.last_posted.isoformat }}" data-count="{{ topic.post_count }}" data-pk="topic-{{ topic.pk }}">
        <td class="subscribed forum-small-cells"><span class="glyphicon glyphicon-star-empty"></span></td>
        <td class="topic-item"><a href="{{ topic.get_absolute_url }}">{{ topic.subject }}</a></td>
        <td class="forum-small-cells">
          {% if topic.has_attachments %}<span class="glyphicon glyphicon-paperclip"></span>{% endif %}
        </td>
        <td class="text-center"><span class="label label-default counter">{{ topic.post_count }}</span></td>
        <td class="text-right">{{ topic.last_posted|timetag }}</td>
      </tr>
    {% empty %}
      <tr>
          <td style="text-align: center;"><h1>{% trans "No topics yet" %}</h1></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
