{% extends "forums/base.html" %}
{% load i18n static %}

{% block "forumheader" %}
  {% if forum %}
  <div class="forum-sub-header">
    <a class="forum-name" href="{{ forum.get_absolute_url }}">{% if forum.icon %}<img src="{{ forum.icon.url }}" title="{{ forum }}"> {% endif %}{{ forum }}</a>
    <small class="forum-description">{{ forum.desc }}</small>
  </div>
  {% endif %}
 {% endblock %}

{% block "tools" %}
  <div class="btn-group">
    <a data-original-title="Refresh" data-placement="top" href="" class="btn btn-sm"><span class="glyphicon glyphicon-refresh"><span></a>
  </div>
  <div class="btn-group">
    {% if forum %}
      {% if not request.user.is_authenticated %}
        <a class="btn btn-sm btn-danger" href="{% url 'auth_login' %}?next={{ request.path }}"><span class="glyphicon glyphicon-lock"></span> Login to Post</a>
      {% elif forum.content_type_id %}
        <a class="btn btn-sm btn-default disabled"><span class="glyphicon glyphicon-lock"></span> Content Forum</a>
      {% else %}
        <a href="{% url "forums:create" forum.slug %}" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span> New Topic</a>
      {% endif %}
    {% endif %}
    <a href="#" id="seenall" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-eye-open"></span> {% trans "Mark all as Read" %}</a>
  </div>

  {{ block.super }}
{% endblock %}

{% block "content" %}
  {% include "forums/topic_table.html" with topic_list=page_obj %}
{% endblock %}
