{% extends "forums/base.html" %}
{% load i18n static forum_comments inkscape comments %}

{% block "forumheader" %}
<div class="forum-sub-header">
    <a href="{{ object.forum.get_absolute_url }}">{% if object.forum.icon %}<img src="{{ object.forum.icon.url }}" title="{{ object.form }}"> {% endif %}{{ object.forum }}</a> <span class="glyphicon glyphicon-chevron-right"></span> <span class="forum-thread-title">{{ object.subject }}</span>
</div>
{% endblock %}

{% block "tools" %}
  <div class="btn-group">
    <a data-original-title="Refresh" data-placement="top" href="" class="btn btn-sm"><span class="glyphicon glyphicon-refresh"><span></a>
  </div>
  {% if request.user.is_moderator %}
    <div class="btn-group">
      <a href="#" class="btn btn-sm btn-default disabled">{% trans "Moderator Tools:" %}</a>
      <a href="{% url "forums:topic_move" object.slug %}" class="btn btn-sm btn-primary" title="{% trans "Move Topic" %}"><span class="glyphicon glyphicon-move"></span></a>
      <a href="{% url "forums:topic_edit" object.slug %}" class="btn btn-sm btn-warning" title="{% trans "Edit Topic" %}"><span class="glyphicon glyphicon-edit"></span></a>
      <a href="{% url "forums:topic_delete" object.slug %}" class="btn btn-sm btn-danger" title="{% trans "Delete Topic" %}"><span class="glyphicon glyphicon-remove-sign"></span></a>
    </div>
  {% endif %}
  {% if request.user.is_authenticated %}
    {% with object|subscription:request.user as subscription %}
      <div class="btn-group">
        {% if not subscription %}
          <a class="btn btn-sm btn-danger" href="{% url "alert.subscribe" "forums.forum_topic_alert" object.pk %}?next={{ request.path }}&post=1">
            <span class="glyphicon glyphicon-heart"></span> {% trans "Subscribe" %}
          </a>
        {% else %}
          <a class="btn btn-sm btn-default" href="{% url "alert.unsubscribe" "forums.forum_topic_alert" object.pk %}?next={{ request.path }}&post=1">
            <span class="glyphicon glyphicon-heart-empty"></span> {% trans "Unsubscribe" %}
          </a>
        {% endif %}
        <a href="{% url "alert.settings" %}?tab=forums.forum_topic_alert" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-wrench"></span></a>
      </div>
    {% endwith %}
  {% endif %}

  {% if object.locked %}
    <div class="btn-group">
      <a href="#" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-lock"></span> Topic Locked</a>
    </div>
  {% endif %}
{% endblock %}

{% block "content" %}
  {% if object.object_pk %}
    <div class="forum-comment-first changes" data-pk="topic-{{ object.pk }}">
      {% with object.object_template as template %}
        {% with object.object as object %}
          {% include template %}
        {% endwith %}
      {% endwith %}
    </div>
  {% endif %}

  {% get_forum_comment_list for object.comment_subject as comment_list %}
  <div class="panel-body haveseen" data-changed="{{ object.last_posted.isoformat }}" data-count="{{ object.post_count }}" data-pk="topic-{{ object.pk }}">
  {% include "forums/comment_list.html" %}
  </div>
  
  {% if object.locked %}
    <div class="panel-footer" data-changed="{{ object.last_posted.isoformat }}" data-count="{{ object.post_count }}" data-pk="topic-{{ object.pk }}">
        <h5 class="text-danger"><span class="glyphicon glyphicon-warning-sign"></span> {% trans "Moderators have closed this thread, you may not post further comments here." %}</h5>
    </div>
  {% else %}

    {% get_forum_comment_form for object.comment_subject as comment_form %}
    {{ comment_form.media }}

  <div class="panel-footer">
    <div class="input-group">
      {% if object.form.is_locked or object.is_locked %}
        <input id="btn-input" disabled="disabled" type="text" class="form-control input-sm" />
        <span class="input-group-btn">
          <a class="btn btn-default btn-sm disabled"><span class="glyphicon glyphicon-lock"></span> {% trans "Locked" %}</a>
        </span>
      {% elif request.user.is_authenticated %}
        {% if request.user.email %}
          <form action="{% url "forums:comment_create" object.forum.slug object.slug %}" method="POST" class="block">
            <div class="row">
              {% csrf_token %}
              {{ comment_form.comment }}
              {{ comment_form.honeypot }}
              {{ comment_form.content_type }}
              {{ comment_form.object_pk }}
              {{ comment_form.timestamp }}
              {{ comment_form.security_hash }}
              <input type="hidden" name="next" value="{{ request.path }}"/>
            </div>
            <div class="row group-id_attachments">
              {{ comment_form.attachments.label_tag }}
              {{ comment_form.attachments }}
            </div>
            <div class="row group-id_inlines">
              {{ comment_form.inlines.label_tag }}
              {{ comment_form.inlines }}
            </div>

            {% include "forums/attachment_draw.html" %}
            <div class="row">
              <span class="btn-group pull-right">
                {% if perms.forums.can_post_comment %}
                  <button class="btn btn-primary btn-sm"type="submit"> {% trans "Submit Comment" %}</button>
                {% else %}
                  <button class="btn btn-warning btn-sm"type="submit"> {% trans "Submit for Moderation" %}</button>
                {% endif %}
                <a id="add_attachments" class="btn btn-default btn-sm" style="display: none;"> <span class="glyphicon glyphicon-paperclip"></span></a>
              </span>
              <span class="btn-group pull-left">
                <a href="/community/coc/" class="btn"><span class="glyphicon glyphicon-check"></span> {% blocktrans %}Please read Inkscape's <strong>Code of Conduct</strong> before posting.{% endblocktrans %}</a>
              </span>
            </div>
          </form>
        {% else %}
          <input id="btn-input" disabled="disabled" type="text" class="form-control input-sm" placeholder="You must have an email address to post!" />
          <span class="input-group-btn">
            <a href="{% url 'edit_profile' %}?next={{ request.path }}" class="btn btn-default btn-sm"> {% trans "Edit Profile" %}</a>
          </span>
        {% endif %}
      {% else %}
        <input id="btn-input" disabled="disabled" type="text" class="form-control input-sm" placeholder="You must be logged in to post!" />
        <span class="input-group-btn">
          <a href="{% url 'auth_login' %}?next={{ request.path }}" class="btn btn-danger btn-sm"> {% trans "Login Now" %}</a>
        </span>
      {% endif %}
    </div>
  </div>
  {% endif %}
{% endblock %}
