{% extends "forums/forumtopic_list.html" %}
{% load i18n static inkscape %}
{% block "wrapper" %}
<div class="container-flex forums-app forums-topic-list">
{% endblock "wrapper" %}
{% block "forumheader" %}
  <div class="forum-sub-header">
    <a class="forum-name" href=""><span class="glyphicon glyphicon-heart"></span> {% trans "My Forum" %}</a>
    <small class="forum-description">{% trans "A list of all topics which you have subscribed to, posted or comments made." %}</small>
  </div>
{% endblock %}

{% block "tools" %}
  <div class="btn-group">
    <a href="{% url "forums:topic_subs" %}" class="btn btn-sm btn-default {% url_name "topic_subs" %}"><span class="glyphicon glyphicon-heart"></span> {% trans "My Subscriptions" %}</a>
    <a href="{% url "topic_list" forum_user.username %}" class="btn btn-sm btn-default {% url_name "topic_list" %}"><span class="iw-comment"></span> {% trans "My Topics" %}</a>
    <a href="{% url "comment_list" forum_user.username %}" class="btn btn-sm btn-default {% url_name "comment_list" %}"><span class="iw-chat"></span> {% trans "My Comments" %}</a>
  </div>
  {{ block.super }}
{% endblock %}
