{% load i18n static svg %}

{% if object.is_video %}
  <div class="inline video">
    {% if object.video.type == "youtube" %}
      <iframe src="https://www.youtube.com/embed/{{ object.video.id }}" frameborder="0" allowfullscreen id="videoPlayer"></iframe>
    {% elif object.video.type == "vimeo" %}
      <iframe id="videoPlayer" src="https://player.vimeo.com/video/{{ object.video.id }}" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    {% endif %}
  </div>
{% elif object.download %}
  {% if object.is_available %}
    {% if object.mime.is_image %}
      {% if object.embed %}
        <div class="inline image svg">
          {{ object.as_text|svg_size:"100%|100%"|safe }}
        </div>
      {% else %}
        <div class="inline image">
          <a href="{{ object.download_url }}"><img src="{{ object.rendering_url }}" alt="{% trans "Image" %}" data-icon="{{ object.thumbnail_url }}" data-fullview="{{ object.download.url }}"></a>
        </div>
      {% endif %}
    {% else %}
      <div class="inline file">
        <a href="{{ object.download_url }}"><img src="{{ object.rendering_url }}" alt="{% trans "File Icon" %}"></a>
      </div>
    {% endif %}
  {% endif %}
{% endif %}
