{% extends "forums/base.html" %}
{% load i18n static inkscape highlight %}

{% block "header" %}
  <h3><span class="glyphicon glyphicon-search"></span> {% blocktrans %}Search Topics for ‘{{ query }}’{% endblocktrans %}</h3>
{% endblock %}

{% block "tools" %}
  <div class="btn-group">
    <a class="btn btn-sm btn-default" href="{% url "forums:list" %}"><span class="glyphicon glyphicon-remove"><span></a>
    <a class="btn btn-sm btn-primary" href="{% url "forums:search.posts" %}?q={{ query }}"><span class="glyphicon glyphicon-search"></span> {% blocktrans %}Search all Comments for ‘{{ query }}’{% endblocktrans %}</a>
  </div>

  {% with page as page_obj and 1 as is_paginated %}{{ block.super }}{% endwith %}
{% endblock %}

{% block "content" %}
  <table class="table table-forum" data-pk="forum-{{ forum.pk }}">
    <tbody>
    {% for topic in page.object_list %}
      <tr class="{% cycle 'odd' 'even' %}" data-changed="{{ topic.last_posted.isoformat }}" data-count="{{ topic.object.post_count }}" data-pk="topic-{{ topic.object.pk }}">
        <td class="subscribed forum-small-cells"><span class="glyphicon glyphicon-star-empty"></span></td>
        <td class="view-message"><a href="{{ topic.object.get_absolute_url }}">{{ topic.object.subject }}</a></td>
        <td class="view-message forum-small-cells">{{ topic.object.user }}</td>
        <td class="view-message text-right">{{ topic.last_posted|timetag }}</td>
      </tr>
      <tr class="search-context">
        <td class="view-message" colspan="4">{% highlight topic.text with query max_length 200 %}</td>
      </tr>
    {% empty %}
      <tr>
          <td style="text-align: center;"><h1>{% trans "No topics yet" %}</h1></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
