{% load i18n static inkscape search_tools %}
  <table class="table table-forum table-hover haveseen" data-changed="{{ forum.last_posted.isoformat }}" data-count="{{ forum.post_count }}" data-pk="forum-{{ forum.pk }}">
    <tbody>
    {% for topic in topic_list %}
    <tr class="{% cycle 'odd' 'even' %} new{% if topic.locked %} locked{% elif topic.sticky %} sticky{% endif %}" data-changed="{{ topic.last_posted.isoformat }}" data-count="{{ topic.post_count }}" data-pk="topic-{{ topic.pk }}">
        <td class="icon forum-small-cells">
          {% if show_forum %}
          <td class="forum-small-cells avatar"><img src="{% if topic.forum.icon %}{{ topic.forum.icon.url }}{% endif %}" title="{{ topic.forum }}"/></td>
          {% else %}
            <span class="glyphicon glyphicon-{% if topic.locked %}lock{% elif topic.sticky %}bookmark{% else %}{% endif %}"></span>
          {% endif %}
        </td>
        <td class="topic-item">
          <a href="{{ topic.get_absolute_url }}">
            {% if query %}
              {% highlight_all topic.subject %}
            {% else %}
              {{ topic.subject }}
            {% endif %}
          </a>
        </td>
        <td class="forum-small-cells">
          {% if topic.has_attachments %}<span class="glyphicon glyphicon-paperclip"></span>{% endif %}
        </td>
        <td class="text-center"><span class="label label-default counter">{{ topic.post_count }}</span></td>
        <td class="text-center" {% if topic.last_username %}data-user="{{ topic.last_username }}"{% endif %}>{{ topic.last_username|default:'-' }}</td>
        <td class="text-right">{{ topic.last_posted|timetag }}</td>
      </tr>
    {% empty %}
      <tr>
        <td class="icon forum-small-cells"><span class="glyphicon glyphicon-info-sign"></span></td>
        <td class="topic-item">{% trans "No topics" %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
