{% extends "forums/base.html" %}
{% load i18n static inkscape %}

{% block "tools" %}
<form method="GET" action="{% url "ban_user" "someone" %}">
  <input type="hidden" name="next" value="{{ request.path }}">
  <div class="input-group">
    <span class="input-group-addon">Reason</span>
    <input type="text" class="form-control" name="reason" placeholder="reason" value="Banned!" maxlength="32">
  </div>
  <div class="input-group">
    <span class="input-group-addon">Username</span>
    <input type="text" class="form-control" name="username" placeholder="username">
    <span class="input-group-btn">
      <button class="btn btn-danger" type="submit" title="Ban this user"><span class="glyphicon glyphicon-ban-circle"></span></button>
    </span>
  </div>
  </form>

  {{ block.super }}
{% endblock %}

{% block "content" %}
  <table class="table table-forum table-hover">
    <tbody>
    {% for ban in page_obj %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td class="icon forum-small-cells"><span class="glyphicon glyphicon-user"></span></td>
        <td class="user-item">
          <a href="{{ ban.user.get_absolute_url }}">{{ ban.user.username }}</a>
        </td>
        <td class="text-left">{{ ban.title }}</td>
        <td class="text-center"><span class="label label-default counter" title="{% trans "Number of comments" %}">{{ ban.user.comment_comments.count }}</span></td>
        <td class="text-right text-muted"><span class="glyphicon glyphicon-time"></span> {{ ban.created|timetag }}</td>
        <td class="text-right"><a href="{% url "ban_user" ban.user.username %}?next={{ request.path }}" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-repeat"></span></td>
      </tr>
    {% empty %}
      <tr>
        <td class="icon forum-small-cells"><span class="glyphicon glyphicon-info-sign"></span></td>
        <td class="user-item">{% trans "No banned users" %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
