/* License: AGPLv3 or later (http://www.gnu.org/licenses/), Copyright 2013, Martin Owens <doctormo@gmail.com> */
/* See https://gitlab.com/inkscape/inkscape-web/issues/162#note_57927689 for multicolumn and so on*/
/*.normal 4 columns */
.page  .imagelist{
  column-width: 180px;
  column-gap: 10px;
	width: 100%;
	margin-top: 10px;
}
/*.gallery 3 columns */.page  .imagelist.max3col{
  column-width: 260px;
}
.page  .imagelist.max2col{
  column-width: 295px;
.page.gallery .imagelist{
  column-width: 270px;
}
.wrapper{
  position:relative;
}
.gallerysidebar{
  visibility:hidden !important;
  z-index:200;
  float:none;
  position:absolute;
  background-color:rgba(255,255,255,0.9);
  padding:20px 45px 20px 20px !important;
  width:194px !important;
  top:0;
  right:0;
  z-index:0;
 
}
.wrapper #left-column{
  width:93% !important;
  margin:0px;
}

.gallery.page .wrapper #right-sidebar:hover,
.gallery.page .wrapper #right-sidebar:focus{
  visibility:visible !important;
}
.gallerysidebar,
.gallerysidebar{
  margin-top:-35px;
  margin-right:-30px;
  padding-top:5px !important;

}
.gallerysidebar:before{
  visibility:visible;
  display:block;
  position:sticky;
  content:"+";
  text-align:center !important;
  border-radius:5px;
  color:#333;
  background-color:rgba(255,255,255,0.8);
  font-size:28px;
  padding:2px 4px 4px 4px;
  font-weight:bold;
  z-index:0;
  top:0px;
  right:5px;
  bottom:0;
  cursor:pointer;
  line-height:1;
  border-width:1px;
  border-color:#ccc;
  border-style:solid;
}
.galleryitem {
  background: #fff;
	border: 0px;
	margin: 3px;
	padding: 0px;
	padding-bottom: 1px;
	transition: opacity .4s ease-in-out;
	display: inline-block;
  position:relative;
  width:100%;
  
}
.galleryitem.unavailable {
  opacity: 0.5;
}
.galleryitem:hover {
} 
.galleryitem  a.link img,
a.link .galleryitem img {
  width: 100%;
	height: auto;
	padding-bottom: 0;
	margin-bottom: 0;
  line-height:1;
  border-width:1px 1px 0 1px;
  border-style:solid;
  border-color:#ccc;
  border-radius:6px 6px 0 0 !important;
}

a.link .galleryitem > img {
  width: 100% !important;
	height: auto;
}
.galleryitem  a.link {
  display: block;
  outline: none;
  line-height:1;
  padding:0;
  margin-bottom:-2px;
}

.galleryitem  .label, 
.galleryitem  p {
  text-align: center !important;
  padding:4%;
  margin:0 0 4px 0;
  width:92%;
  display:inline-block;
  border-width:1px 1px 1px 1px;
  border-style:dashed solid solid solid;
  border-color:#ccc;
  border-radius:0 0 6px 6px !important;
}

@media screen and (min-width: 960px) {
.titlehover .galleryitem .label, 
.titlehover .galleryitem p {
  position:absolute;
  z-index:20;
  top:0;
  border:none;
  background-color:rgba(255,255,255,0.6);
  border-radius:0 !important;
  width:96%;
  padding:2%;
  margin:0;
  color:#333;
  display:none;
}
.titlehover .galleryitem a.link img,
.titlehover a.link .galleryitem img {
  border:none;
  border-radius:6px !important;
}
.wrapper #left-column{
  width:98% !important;
}
.titlehover .galleryitem:hover .label, 
.titlehover .galleryitem:hover p {
  display:block;
  
}
.titlehover .galleryitem .label a{
  font-size:16px;
}
}
.galleryitem > .label a {
  text-decoration: none;
  color:#333;
  font-size:18px;
}
.galleryitem  p.new a {
  background-color: #efe;
  outline: none;
}
.galleryitem  progress {
.galleryitem > p.new a {
  background-color: #efe;
  outline: none;
}
.galleryitem  progress {
  height: 15px;
  margin: 23px 0px;
  width: 130px;
}
.galleryitem  div.link input {
  vertical-align: middle;
  display: inline-block;
}
.galleryitem div.link {
.galleryitem > div.link input {
  vertical-align: middle;
  display: inline-block;
}

.galleryitem  div.link {

  display: block;
  line-height: 150px;
}
.galleryitem div.input input {
  max-width: 140px;
  text-align: center;
}
.galleryitem  adiv.input {
  background-color: #EEF;
  display: table-cell;
  margin: 2px;
  padding: 3px;
  color: #035;
  height: 4em;
  vertical-align: middle;
}

.galleryitem.nothing {
  color: #798488;
  width: 50%;
  text-align: left;
}

.galleryitem.nothing:hover {
  border: 2px solid white;
  background-color: transparent;
}
.galleryitem.empty a.link img {
  opacity: 0.5;
}
.galleryitem.removed {
  border: 2px dashed #f00 !important;
  background-color: #fee;
  padding: 2px;
}
.galleryitem.removed p a {
  background-color: transparent !important;
}
.galleryitem.unpublished {
  border: 2px solid #e58 !important;
  background-color: #fee;
  padding: 2px;
}
.galleryitem.unpublished p a {
  background-color: transparent !important;
}
.galleryitem.voted {
  border: 2px solid #8ccaff;
  padding: 2px;
}
.galleryitem.voted .label {
  background-color: #8ccaff;
  border-radius: 0px;
}
.galleryitem.notvoted {
  border: 2px solid #cce;
  padding: 2px;
}
.galleryitem.notvoted .label {
  background-color: #cce;
  border-radius: 0px;
}

.galleryitem .minitabs {
  position: absolute;
  top:0px;
  left:0;
  right:0;
  text-align: right;
  z-index: -1;
}

.galleryitem .minitabs {
  z-index: unset;
  width:100%;
}
.galleryitem  .minitabs  img{
  visibility: visible ;
  height:18px;
  margin:3px;
  background-color:rgba(255,255,255,0.6);
  display:inline-block;
  border-radius:15%;
  padding:3px;
}
.galleryitem .minitabs   a ,
.galleryitem .minitabs   img
{
  visibility: visible;
  
}


.galleryitem  .minitabs  img:nth-child(2),
.galleryitem  .minitabs  a:nth-child(2) {
  right:0;
  left:auto;
}

@media screen and (min-width: 960px) {
.titlehover .galleryitem .minitabs{
  top:auto;
  bottom:0;
}
  .galleryitem:hover span.ribbon{
    display:none;
  }
  .galleryitem .minitabs > img,
.galleryitem .minitabs > a {
  visibility: hidden !important;
  }
    .galleryitem:hover .minitabs > img,
.galleryitem:hover .minitabs > a {
  visibility:visible !important;
  margin-bottom:5px;
  }
}
.galleryitem > .minitabs {
  z-index: unset;
  width:100%;
}
.galleryitem  .minitabs  img{
  visibility: visible ;
  height:18px;
  margin:3px;
  background-color:rgba(255,255,255,0.6);
  display:inline-block;
  border-radius:15%;
  padding:3px;
}
.galleryitem .minitabs   a ,
.galleryitem .minitabs   img
{
  visibility: visible;
  
}


.galleryitem  .minitabs  img:nth-child(2),
.galleryitem  .minitabs  a:nth-child(2) {
  right:0;
  left:auto;
}
.galleryitem  span.ribbon {
  visibility: visible;
  display:block;
  text-align:center;
  z-index:0 !important;
  opacity:1;
  margin-top:-12px !important; 
  margin-bottom:-15px;
  filter:invert(0%);
  background-color:transparent !important;
}
.gallery.page .galleryitem  span.ribbon {
  margin-top:0px !important; 
  margin-bottom:-100px;
}
.gallery.page span.ribbon{
    bottom:-18px;
}
.galleryitem:hover  span.ribbon {
  filter:invert(100%);
}

.galleryitem  span.ribbon p {
  position: absolute;
  top:-7px !important;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 0;
  margin: 12px 0;
  width: 100%;
  display: block !important;
  border-width: 0;
  line-height:1.5;
  color:#000 !important;
  background-color:transparent !important;;
}
.gallery.page .galleryitem  span.ribbon p{
    top:0px !important;
}
.galleryitem:hover  span.ribbon{
  opacity:1;
  bottom:-20px;
  margin-left:-75px !important;
  z-index:300;
  opacity:0.8;
}

.galleryitem  span.ribbon p {
  position: absolute;
  top:-8px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 0;
  margin: 12px 0;
  width: 100%;
  display: block !important;
  border-width: 0;
  line-height:1.8;
  color:#000 !important;
  background-color:transparent !important;;
}
svg.ribbon path.part_a { fill:#7e7e7e; }
svg.ribbon path.part_b { fill:#a9a9a9; }
svg.ribbon path.part_c { fill:#494949; }
.winner svg.ribbon path.part_a { fill:#e1b000; }
.winner svg.ribbon path.part_b { fill:#fbc400; }
.winner svg.ribbon path.part_c { fill:#a97610; }
.purple svg.ribbon path.part_a { fill:#614266; }
.purple svg.ribbon path.part_b { fill:#845a8b; }
.purple svg.ribbon path.part_c { fill:#413044; }
.blue svg.ribbon path.part_a { fill:#2e5a92; }
.blue svg.ribbon path.part_b { fill:#3a71b8; }
.blue svg.ribbon path.part_c { fill:#243c5a; }
.galleryitem .minitabs .blank {
  width: 50px;
  text-align: center;
  margin-left: -2px;
  border-width: 0px 2px 2px;
  border-style: solid;
  border-color: #CCE;
  border-radius: 0px 0px 8px 8px;
  padding: 2px 0px;
  background-color: #EEF;
}
.galleryitem .blank .votebox {
  background-color: white;
  height: 15px;
  width: 15px;
  display: inline-block;
  border: solid 2px #cce;
  border-radius: 8px;
  font-size: 24px;
  line-height: 12px;
  color: #8ccaff;
}
.galleryitem .blank .votebox.add { color: white; }
.galleryitem .blank .votebox.add:hover { color: #8ccaff; }
.galleryitem .blank .votebox.remove { color: #8ccaff; }
.galleryitem .blank .votebox.remove:hover { color: red; }
.galleryitem > .minitabs > img,
.galleryitem > .minitabs > .blank {
  position: relative;
  right: -1px;
  float: left;
}
.galleryitem > .minitabs img:last-child,
.galleryitem > .minitabs a:last-child img,
.galleryitem > .minitabs blank:last-child {
  float: right;
  left: 0;
}
.galleryitem > .minitabs > a:hover {
  text-decoration: none;
  font-weight: bold;
}

div#category_desc {
  color: #798488;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 1em;
  padding: 1em;
  background-color: #eee;
}

.btn.dragging #drop {
  border: 1px solid rgba(0,0,0, 0.25);
  background-color: white;
}
.btn #drop img {
  display: none;
}
.btn.dragging #drop img {
  border: dashed 1px rgba(0,0,0,0.25);
  padding: 5px;
  margin: 19px 5px 14px;
  display: inline-block;
}

@media screen and (min-width: 960px) {
.page.gallery .galleryitem .label, 
.page.gallery .galleryitem p {
  position:absolute;
  z-index:20;
  top:0;
  border:none;
  background-color:rgba(255,255,255,0.6);
  border-radius:0 !important;
  width:96%;
  padding:2%;
  margin:0;
  color:#333;
  display:none;
}
.page.gallery .galleryitem  a.link > img,
.page.gallery    a.link > .galleryitem > img {
  border:none;
  border-radius:6px !important;
}
.wrapper #left-column{
  width:100% !important;
}
.page.gallery    .galleryitem:hover  .label, 
.page.gallery    .galleryitem:hover  p {
  display:block;
  
}
.page.gallery    .galleryitem .label a{
  font-size:16px;
}
.page.gallery    .galleryitem  .minitabs{
  top:auto;
  bottom:0;
}
.galleryitem  .minitabs   img,
.galleryitem .minitabs   a {
  visibility: hidden !important;
}
.galleryitem:hover  .minitabs  img,
.galleryitem:hover  .minitabs  a {
  visibility:visible !important;
  margin-bottom:5px;
  }


@media screen and (min-width: 960px) {
.page.gallery .galleryitem .label, 
.page.gallery .galleryitem p {
  position:absolute;
  z-index:20;
  top:0;
  border:none;
  background-color:rgba(255,255,255,0.6);
  border-radius:0 !important;
  width:96%;
  padding:2%;
  margin:0;
  color:#333;
  display:none;
}
.page.gallery .galleryitem  a.link > img,
.page.gallery    a.link > .galleryitem > img {
  border:none;
  border-radius:6px !important;
}
.wrapper #left-column{
  width:100% !important;
}
.page.gallery    .galleryitem:hover  .label, 
.page.gallery    .galleryitem:hover  p {
  display:block;
  
}
.page.gallery    .galleryitem .label a{
  font-size:16px;
}
.page.gallery    .galleryitem  .minitabs{
  top:auto;
  bottom:0;
}
.galleryitem  .minitabs   img,
.galleryitem .minitabs   a {
  visibility: hidden !important;
}
.galleryitem:hover  .minitabs  img,
.galleryitem:hover  .minitabs  a {
  visibility:visible !important;
  margin-bottom:5px;
  }
