{% extends "cmsplugin_news/base.html" %}
{% load i18n %}

{% block "newscontent" %}
  <div class="pagination">
    <a class="current page" href="{% url "news:archive_index" %}">{% trans "News" %}</a>
    <span class="current page">{{ year.year }}</span>
    {% for date in date_list %}
      <a href="{% url "news:archive_month" year=year.year month=date|date:'m'  %}" class="page">{{ date|date:"F" }}</a>
    {% endfor %}
  </div>

  <h1>{% block title %}{% blocktrans with year.year as year %}News for {{ year }}{% endblocktrans %}{% endblock %}</h1>
  {% for object in object_list %}
    {% include "cmsplugin_news/list_item.html" %}
  {% empty %}
    <h2>{% trans "No news for this year." %}</h2>
  {% endfor %}
{% endblock %}
