<!DOCTYPE html>
{% load i18n optional_static %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <title>{% block alltitle %}{% block title %}{{ title|default:"Draw Freely" }}{% endblock %} | Inkscape (example design){% endblock %}</title>
    <meta charset="utf-8"/>

    <link rel="shortcut icon" href="{% static "images/inkscape-logo.png" %}"/>

    {% block "css" %}
      <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>
    {% endblock %}

    {% if form %}{{ form.media }}{% endif %}
    {% if formset %}{{ formset.media }}{% endif %}

<style>
img { width: 32px; }
</style>
  </head>

<body id="page-{% block body-pageid %}{{ PAGE_ID }}{% endblock %}" class="{% if LANGUAGE_BIDI %}rtl {% endif %}{% block body-classes %}{% endblock %}">

    <h1>{{ title }}</h1>

    <a href="{% url "auth_login" %}">Example link</a>

    <ul>
        <li>New Static: {% static "images/999.svg" %} <img src="{% static "images/999.svg" %}"> </li>
        <li>Missing File: {% static "images/900.svg" %} <img src="{% static "images/900.svg" %}"></li>
        <li>Override: {% static "images/403.svg" %} <img src="{% static "images/403.svg" %}"></li>
        <li>Original: {% static "images/bullet-tick.svg" %} <img src="{% static "images/bullet-tick.svg" %}"></li>
    </ul>

  {% block finalfooter %}
    <p id="final-footer">
      Example Design
    </p>
  {% endblock %}
</body>
</html>
