{% extends "moderation/base.html" %}
{% load i18n static inkscape moderator %}

{% block content %}
<h1>{% trans "Welcome to the Moderators' Area!" %} <a id="hidebutton" href="#no" data-hide="{% trans "Hide Already Voted" %}" data-show="{% trans "Show All" %}" title="{% trans "This toggle allows you to hide the items you've already voted on, allowing you to focus on things you've not voted on yet." %}"></a></h1>
<hr/>
<div class="info">{% trans "Before you start out on your mission to make the Inkscape Website a friendly place, please read <a href='/moderation/instructions/'>Moderation Page Instructions</a> and review our <a href='/community/coc/'>Community Code of Conduct</a>." %} {% blocktrans %}Items without decisions are listed forever, items with decisions are shown only for {{ display_days }} days.{% endblocktrans %}</div>

  {% for model in object_list.models %}
    {% if model.objects.count > 0 %}
      <h2><a href="{% url "moderation:bytype" model.app model.model %}">{{ model.label }}</h2>

      {% for object in model.objects %}
        {% include "moderation/flagobject_item.html" %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endblock %}

