{% extends "base.html" %}
{% load cms_tags %}
{% load i18n %}

{% block title %}{% page_attribute "page_title" %}{% endblock %}

{% block headerdesc %}{% page_attribute meta_description %}{% endblock %}

{% block content %}
    <div class="page {% language 'es' %}{% page_attribute 'slug' %}{% endlanguage %} {% if get_current_language != 'es' %}{% page_attribute 'slug' %} {% endif %}">
    {% placeholder header_template_content %}
    <div id="left-column">
      {% placeholder normal_template_content %}
    </div>
    <div id="right-sidebar">
      {% placeholder sidebar_template_content %}
    </div>
  </div>
{% endblock %}
