{% load i18n static inkscape svg %}

  <div class="panel-body">
    <div class="panel-resource">
        {% if object.is_video %}
          {% include "embed_video.html" %}
        {% elif object.download %}
          {% if object.mime.is_image %}
              <a href="{{ object.get_absolute_url }}"><img src="{{ object.download.url }}" alt="{% trans "Image" %}"></a>
          {% elif object.mime.is_text %}
            <a href="{{ object.get_absolute_url }}"><img src="{% static "mime/text.svg" %}" title="{{ object.media_type }}"/></a>
          {% else %}
              <a href="{% url "view_resource" object.id %}"><img src="{{ object.thumbnail_url }}" alt="{% trans "File Icon" %}"></a>
          {% endif %}
        {% elif object.link %}
          <a href="{{ object.link }}" title="{% trans "External Link" %}: {{ object }}">
            <img src="{{ object.thumbnail_url }}" alt="{% trans "Item Image" %}"/>
          </a>
        {% else %}
          <img src="{{ object.icon_url }}" alt="{% trans "No file or broken upload" %}"/>
        {% endif %}
    </div>
  </div>

  <section class="panel-body forum-comment-first-text">
    <span class="comment-img pull-left">
      <img src="{% if object.user.photo %}{{ object.user.photo.url }}{% else %}{% static "forums/images/user.svg" %}{% endif %}" alt="{{ object.user }}" class="img-circle" /> </span>
    <div class="comment-body clearfix">
      <div class="header">
        <strong class="primary-font"><a href="{{ object.user.get_absolute_url }}">{{ object.user }}</a></strong>

        <a href="{{ object.get_absolute_url }}" class="pull-right text-muted comment-first-link"><span class="glyphicon glyphicon-picture"></span></a>

        <small class="pull-right text-muted comment-time"><span class="glyphicon glyphicon-time"></span> {{ object.created|timetag }}</small>
      </div>
      <p>
        {{ object.desc|truncatewords:60|urlized|linebreaks }}
      </p>
    </div>
  </section>

