{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{{ object }}{% endblock %}
{% block headerdesc %}{% trans "Full list of all platforms available for this release." %}{% endblock %}
{% block keywords %}release,platform,list,availability,access{% endblock %}

{% block content %}
  <h1>{{ object }}</h1>

  <table class="alternating" style="width: 100%;">
    {% for item in objects %}
        <tr class="{% cycle "odd" "even" %}">
          <td><a href="{{ item.release.get_absolute_url }}">{{ item.release }}{% if item.release.is_draft %} [DRAFT]{% endif %}</a></td>
          <td>{{ item.release.release_date|date:"c"|default:"dev" }}</td>
          <td>
            {% for rp in item.platforms %}
              <a href="{{ rp.get_resource_url }}">{{ rp.platform.name }}</a>
            {% endfor %}
          </td>
        </tr>
    {% endfor %}
  </table>

{% endblock %}
