{% load i18n static %}

{% if platform.release %}
  <li class="download">
    <a href="{{ platform.release.get_download_url }}">
      <strong>{{ platform.release.platform.desc }}</strong>
      {% if platform.release.platform.icon %}
        <img src="{{ platform.release.platform.icon.url }}"/>
      {% elif platform.icon %}
        <img src="{{ platform.icon.url }}"/>
      {% else %}
        <img src="{% static "images/download.svg" %}"/>
      {% endif %}
      {{ platform.release.platform.name }}
    </a>
  </li>
{% else %}
  <li>
    <a href="{% url "releases:platform" release.version platform.codename %}">
      <strong>{{ platform.name }}</strong>
      {% if platform.icon %}
        <img src="{{ platform.icon.url }}"/>
      {% endif %}
      {{ platform.desc }}
    </a>
  </li>
{% endif %}
