{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{{ object }}{% endblock %}
{% block headerdesc %}{% trans "Full list of all platforms available for this release." %}{% endblock %}
{% block keywords %}release,platform,list,availability,access{% endblock %}

{% block content %}
  <h1>{{ object }}</h1>

  <table class="alternating" style="width: 100%;">
    {% for item in objects %}
        <tr class="{% cycle "odd" "even" %}">
          <td><a href="{{ item.release.get_absolute_url }}">{{ item.release }}{% if item.release.is_draft %} [DRAFT]{% endif %}</a></td>
          <td>{{ item.release.release_date|date:"c"|default:"dev" }}</td>
          <td>
            {% for rp in item.platforms %}
              {% if rp.resource %}
                <a href="{{ rp.get_resource_url }}">{{ rp.resource.filename }}</a>
                {% if perms.releases.change_release and rp.get_expected_filename %}
                  {% if rp.get_expected_filename != rp.get_resource_filename %}
                    (<a href="{% url "rename_resource" pk=rp.resource.pk %}?new_name={{ rp.get_expected_filename }}" title="{% trans "Filename isn't in the expected format" %}">rename</a>)
                  {% endif %}
                {% endif %}
                {% if rp.resource.signature %}
                  (<a href="{{ rp.resource.signature.url }}">sig</a>)
                {% endif %}
              {% else %}
                <a href="{{ rp.get_resource_url }}">{% trans "External Link" %}</a>
              {% endif %}
            {% endfor %}
          </td>
        </tr>
    {% endfor %}
  </table>

{% endblock %}
