{% extends "admin/base_site.html" %}
{% load i18n inkscape static %}

-{% block extrastyle %}{{ block.super }}
<style>
.dashboard #content {
  width: 990px;
}
table td {
  text-align: left;
  white-space: nowrap;
}
table td.name {
  overflow: hidden;
  background-color: #fafafa;
  text-overflow: ellipsis;
  max-width: 450px;
}
.fixed {
  background-color: #8c0;
  text-align: center;
  padding: 5px;
}
.tofix a {
  color: white;
  background-color: #800;
  text-align: center;
  padding: 5px;
}
</style>
{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
<div id="changelist">
  <table id="results_list">
    <thead>
    <tr>
      {% for header in headers %}
      <th scope="col" class="sortable{% if header.sorted %} sorted {% if header.accending %}accending{% else %}descending{% endif %}{% endif %}">
         <div class="sortoptions">
           <a class="sortremove" href="?order=" title="Remove from sorting"></a>
           <a href="?order={{ header.next }}" class="toggle {% if header.accending %}ascending{% else %}descending{% endif %}" title="Toggle sorting"></a>
         </div>
         <div class="text"><a href="?order={{ header.next }}">{{ header.name }}</a></div>
      </th>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for error in object_list %}
      <tr>
        <td>{{ error.count }}</td>
        <td class="name"><a href="{{ error.get_absolute_url }}">{{ error.name }}</a></td>
        <td>{{ error.started|date:"M D dS" }} {{ error.started|time:"fA" }}</td>
        <td title="{{ error.ended|date:"M D dS" }} {{ error.ended|time:"fA" }}">{{ error.ended|timesince }}</td>
        {% if error.fixed %}
          <td class="fixed">{{ error.fixed|timesince }}</td>
        {% else %}
          <td class="tofix"><a href="{% url "cog:fix" error.traceback_id %}">Mark Fixed</a></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
