{% extends "base.html" %}
{% load i18n inkscape %}

{% block "css" %}{{ block.super }}
<style>
.traceback {
  background-color: #ffc;
  margin: 10px;
  width: 100%;
}
.traceback td {
  padding: 3px;
}
.traceback td.center {
  text-align: center;
}
.traceback tr td:first-child {
  color: white;
  width: 1%;
  padding: 5px;
  text-align: center;
}
tr.unknown td:first-child { color: #888; }
tr.sys td:first-child { background-color: #800; }
tr.env td:first-child { background-color: #008; }
tr.web td:first-child { background-color: #080; }

code {
  padding: 10px;
}

.traceback tr td.content {
  background-color: white;
  color: #444;
  text-align: left;
}
.fixed {
  background-color: #ff0;
}
</style>
{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>


  <ul>
    {% if object.fixed %}
      <li class="fixed">Fixed {{ object.fixed|timesince }} ago | {{ object.fixed }}</li>
    {% endif %}
    <li>First Seen {{ object.started|timesince }} ago | {{ object.started }}</li>
    <li>Last Seen {{ object.ended|timesince }} ago | {{ object.ended }}</li>
    <li>Seen {{ object.count }} times</li>
  </ul>

  <hr/>
  <code>
    {{ object.description }}
  </code>

  <hr/>
  <ul>
    {% for url in object.get_urls %}
      <li>{{ url }}</li>
    {% endfor %}
  </ul>
  <hr/>

  <table class="traceback">
    <tr>
      <th scope="col">Package</th>
      <th scope="col">File</th>
      <th scope="col">Line</th>
      <th scope="col">Function</th>
    </tr>
    {% for tb in object.get_traceback %}
      <tr class="{{ tb.class }}">
        <td title="{{ tb.class }}">{{ tb.pkg }}</td>
        <td>{{ tb.file }}</td>
        <td class="center">{{ tb.line }}</td>
        <td>{{ tb.func }}</td>
      </tr>
      {% if tb.content %}
        <tr>
            <td class="content" colspan="4"><code>{{ tb.content }}</code></td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
{% endblock %}
