{% extends "base.html" %}

{% block content %}

<div id="shield">
  <div id="banners">
    
      <div id="overview" class="" style="background-image: url(https://media.inkscape.org/media/shields/backgrounds/artelnjeru01.png);">
        <div>
            <p class="text">Inkscape is a professional vector graphics editor for Linux, Windows and macOS. It's free and open source.</p>
            <a class="button" href="/en/release/">Download<img src="https://media.inkscape.org/static/images/download.svg"></a>
            <p class="foot"><span>Current stable version: 0.92.4</span></p>
        </div>
        <p><a href="https://inkscape.org/~artelnjeru01/%E2%98%85about-092-2-good" rel="author"><em>Inkdrop Diffusion in Water</em> by artelnjeru01</a></p>
      </div>
    
      <div id="features" style="background-image: url(https://media.inkscape.org/media/shields/backgrounds/rizky.png);" class="current">
        <div>
            <p class="text">Inkscape is just so absolutely jam packed full of features we can't tell you about them all here.</p>
            <a class="button" href="/about/features/">Explore</a>
        </div>
        <p><a href="https://inkscape.org/~ridjam/%E2%98%85freedom-machine" rel="author"><em>Freedom Machine</em> by Rizky Djati Munggaran</a></p>
      </div>
    
      <div id="gallery" style="background-image: url(https://media.inkscape.org/media/shields/backgrounds/3.png);">
        <div>
            <p class="text">Inkscape's artists are a busy lot, constantly working on some incredible artwork.</p>
            <a class="button" href="/gallery/">Gallery</a>
        </div>
        <p><a href="https://inkscape.org/~bajinra/%E2%98%85draw-freely-in-sticker-style" rel="author"><em>Draw Freely in Sticker Style</em> by bajinra</a></p>
      </div>
    
      <div id="learning-resources" style="background-image: url(https://media.inkscape.org/media/shields/backgrounds/4.png);">
        <div>
            <p class="text">Learn how Inkscape can be used to its most powerful level.</p>
            <a class="button" href="/learn/">Read Up</a>
        </div>
        <p><a href="https://inkscape.org/~Mikhael/%E2%98%85space-inkscape" rel="author"><em>Space Inkscape</em> by Michał Grochoła</a></p>
      </div>
    
  </div>
  <ul class="tabs">
      <li class="">
        <a href="#overview"><strong>Overview</strong>
            <img src="https://media.inkscape.org/media/shields/icons/search.png">
          What is Inkscape and how can I get it?
        </a>
      </li>
    
      <li class="current">
        <a href="#features"><strong>Features</strong>
            <img src="https://media.inkscape.org/media/shields/icons/clipboard.png">
          Find out what Inkscape is capable of
        </a>
      </li>
    
      <li>
        <a href="#gallery"><strong>Gallery</strong>
            <img src="https://media.inkscape.org/media/shields/icons/heart.png">
          Showcase of creations from the community
        </a>
      </li>
    
      <li>
        <a href="#learning-resources"><strong>Learning Resources</strong>
            <img src="https://media.inkscape.org/media/shields/icons/lightbulb.png">
          Resources to help you get the most out of Inkscape
        </a>
      </li>
  </ul>
</div>


<div id="columns">
    <div class="column">
      <h1><a href="/about/">Users</a></h1>

<h2>A powerful, free design tool</h2>

<p>Whether you are an illustrator, designer, web designer or just someone who needs to create some vector imagery, Inkscape is for you!</p>

<ul class="ticks">
	<li>Flexible drawing tools</li>
	<li>Broad file format compatibility</li>
	<li>Powerful text tool</li>
	<li>Bezier and spiro curves</li>
</ul>

<p>Want to find out more about how Inkscape can help you? Look at the full set of <a href="/about/features/">features</a> or <a href="/release/">try it</a>!</p>

<h2>We are social!</h2>

<div><em>Follow us on:&nbsp; </em>

<div style="display: inline-block; vertical-align: middle;">

  <span class="plugin_picture" style="">
    <a href="https://twitter.com/inkscape">
      <img src="https://media.inkscape.org/media/cms_page_media/1/twitter_40_QEkovCC.png" alt="Twitter" title="Twitter">
    </a>
  </span>
    

 

  <span class="plugin_picture" style="">
    <a href="http://inkscapers.deviantart.com/">
      <img src="https://media.inkscape.org/media/cms_page_media/1/deviantart_40_99gQ6uy.png" alt="DeviantArt" title="DeviantArt">
    </a>
  </span>
    

 

  <span class="plugin_picture" style="">
    <a href="https://www.facebook.com/Inkscape.org">
      <img src="https://media.inkscape.org/media/cms_page_media/1/facebook_40_Z598jgh.png" alt="Facebook" title="Facebook">
    </a>
  </span>
    

</div>
</div>
    </div>
    <div class="column">
      <h1><a href="/develop/">Developers</a></h1>

<h2>Google Summer of Code 2019</h2>

<p><a href="https://summerofcode.withgoogle.com/organizations/5311282658410496/">Applications are open</a> for the 14<sup>th</sup> time to improve Inkscape and develop your skills within GSoC paid internship.</p>

<p><a class="button" href="http://wiki.inkscape.org/wiki/index.php/Google_Summer_of_Code">How to Apply to GSoC 2019</a></p>

<h2>Join our thriving community</h2>

<p>We can always use help from more people. If you can write code, you may be able to <a href="/develop/">involve in development</a>; if you can't, there are still lots of things we can use help with.&nbsp;For more information, take a look at our <a href="/contribute/">Contribute</a> section.</p>

<h2>Recent Sponsor</h2>

<p>

  <span class="plugin_picture align-center" style="None">
    <a href="https://www.vectorstock.com/">
      <img src="https://media.inkscape.org/media/cms_page_media/1/sponsor_vectorstock_170x78.png" alt="Platinasti sponzor: VectorStock" title="Platinasti sponzor: VectorStock">
    </a>
  </span>
    

</p>
    </div>
    <div class="column">
      <h1><a href="/news/">Recent News</a></h1>

<a style="float: right; padding: 5px;" href="/news/feed/"><img src="https://media.inkscape.org/static/images/rss.png" alt="RSS Feed"></a>
<a style="float: right; padding: 5px;" href="/alerts/cmsplugin_news.new_news_alert/subscribe/"><img src="https://media.inkscape.org/static/images/email.png" alt="Get Email Notifications"></a>
<div class="cmsplugin-news">
  <div class="content">

 
  <div class="article">
    <h2><a href="/news/2019/09/08/inkscape-10-beta1-available-testing/">Inkscape 1.0 beta1 available for testing</a></h2>
    <p class="postdate">Sept. 8, 2019</p>
    <p><img alt="Inkscape 1.0beta1 About screen" src="https://media.inkscape.org/media/resources/render/resources/file/about_for_1.0beta0_releases_app.png" style="width: 30%; float: left; margin: 0 1em 1em 0"></p>

<p>The Inkscape project has released a beta version of the upcoming and much-awaited Inkscape 1.0 on September 17th!</p>

<p>After releasing two less visible alpha versions this year, in mid-January and mid-June, Inkscape is now ready for extensive testing and subsequent bug-fixing.</p>
    <p class="readmore"><a href="/news/2019/09/08/inkscape-10-beta1-available-testing/">Read more...</a></p>
  </div>
 
  <div class="article">
    <h2><a href="/news/2019/06/23/q-2019-inkscape-cover-art-winner-sanda-krstulovic/">Q &amp; A with 2019 Inkscape Cover Art Winner Sanda Krstulović</a></h2>
    <p class="postdate">June 23, 2019</p>
    <p><img alt="2019 Inkscape Cover Art Contest Winner Sanda Krstulovic" src="https://media.inkscape.org/media/resources/render/resources/file/Inkscape_CoverArt2019.png" style="float: left; width: 30%; margin-bottom: 2em; margin-right: 1em;">Congratulations to Sanda Krstulović, this year's winner of the Inkscape Cover Art Contest. Krstulovic's striking black and white design was voted top design by her fellow members of the online community.</p>
    <p class="readmore"><a href="/news/2019/06/23/q-2019-inkscape-cover-art-winner-sanda-krstulovic/">Read more...</a></p>
  </div>
 
  <div class="article">
    <h2><a href="/news/2019/06/18/thanks-vectorstock-its-continued-commitment-open-s/">Thanks to VectorStock for its continued commitment to open-source software</a></h2>
    <p class="postdate">June 18, 2019</p>
    <p>Inkscape would like to thank independent, community-based agency VectorStock for investing last year in Inkscape through its Platinum Sponsor commitment.</p>
    <p class="readmore"><a href="/news/2019/06/18/thanks-vectorstock-its-continued-commitment-open-s/">Read more...</a></p>
  </div>
 

<!--<a href="{ url "news:archive_index" %}">Archive</a>-->
  </div>
</div>

    </div>
  </div>

{% endblock %}
